<div class="container well formborderCategory">
        <div class="col-md-9 center-block no-float">
            <h2><span class="fa fa-calendar"></span> Nuevo Turno</h2>

<%= render 'form' %>

<%= link_to 'VOLVER', "/AgregarTurnos" %>

</div>
</div>
